<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/kevinolega/" target="_blank">@kevinolega</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/kevinolega" target="_blank">linkedin.com/in/kevinolega</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://kevinolega.com/" target="_blank">kevinolega.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:kevinolega@gmail.com" target="_blank">kevinolega@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:639178952637" target="_blank">63-917-895-2637</a></p>
